/* FONT-FAMILY */
@import url('https://fonts.googleapis.com/css2?family=Benne&family=Rubik:wght@400;500;600;700&display=swap');

div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-style:inherit;
	font-size:.9375rem;
	vertical-align:baseline;
}

html {
	font-size: 100%;
	font-family: 'Rubik', sans-serif;
	letter-spacing: .0625rem;
	-webkit-text-size-adjust: none;
}

body {
	color: #6F6F6F;
	background: #fff;
	min-height: 100vh;
	height: auto;
	width: 100%;
	margin: 0;
	overflow-x: hidden;
}

footer, header, section {
	display:block;
}

img {
	max-width: 100%;
	display: block;
}

a {
	font-family: 'Rubik', sans-serif;
	color:#6F6F6F;
	text-decoration:none;
	cursor:pointer;
}

a:hover {
	text-decoration:underline;
}

p, ul, ol{
	font-family: 'Rubik', sans-serif;
	margin:18px 0;
	line-height:1.5em;
}

li{
	list-style:none;
}
li.placeholder{
	height:70px;
	width:100%;
	font-size:16px;
}
hr {
	display:block;
	height:0px;
	line-height:0px;
	border:0;
	border-top:1px solid #ddd;
	border-bottom:1px solid #aaa;
	margin:16px 0;
	padding:0;
	clear:both;
	float:none;
}
hr.notop{
	margin-top:0;
}
strong{
	font-weight:700;
	color: #000;
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #888;
}

#documenter_buttons{
	position:absolute;
	right:10px;
	margin-top:-30px;
}

.btn{
	cursor:pointer;
	width:auto;
	padding:7px 7px 8px;
	border-radius:3px;
	border:1px solid #ccc;
}

.btn:hover{
	border:1px solid #B1B4B0;
	box-shadow:0px 2px 2px rgba(0,0,0,0.1);
	-moz-box-shadow:0px 2px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow:0px 2px 2px rgba(0,0,0,0.1);
	text-decoration:none;
}

.btn:active{
	border:1px solid #B1B4B0;
	box-shadow:inset 0px 2px 2px rgba(0,0,0,0.1);
	-moz-box-shadow:inset 0px 2px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow:inset 0px 2px 2px rgba(0,0,0,0.1);
	background-color:#eee;
}

.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}
.mt-10{margin-top: 10px !important;}
.mt-20{margin-top: 20px !important;}
.mb-10{margin-bottom: 10px !important;}
.mb-20{margin-bottom: 20px !important;}

#documenter_content{
	position:absolute;
	right:18px;
	left:330px;
	padding-left:15px;
	padding-right: 15px;
	padding-bottom:200px;
	min-height:100%;
	height:auto;
	z-index:1;
}
.img-cls {
	padding: 20px;
	border: 1px dotted #999999;
	max-width: 98%;
	margin: 25px 0;
}
.margin-cls {
	margin-top: 25px;
}
#documenter_content .code-bg p {
	color: #dedede;
}
#documenter_content.active{
	left: 0;
}
#documenter_content.active #getting_started .header{
	left: 0;
}
#documenter_sidebar{
	-moz-box-shadow:0 0 6px rgba(3,3,3,0.6);
	-webkit-box-shadow:0 0 6px rgba(3,3,3,0.6);
	box-shadow:0 0 6px rgba(3,3,3,0.6);
	position:fixed;
	left:0;
	width:310px;
	height:100%;
	min-height:100%;
	z-index:100;
}

#documenter_sidebar a {
	position:relative;
	z-index:100;
}

.sc-image {
	border: dotted .0625rem #999;
	padding: 20px;
	max-width: 98%;
	margin: 25px 0;
}

#documenter_copyright {
	font-size: .8125rem;
	font-weight: 500;
	text-align: center;
	z-index: 1;
}

noscript{
	display:block;
	position:absolute;
	top:238px;
	margin:0 auto;
	width:800px;
	bottom:0;
	z-index:20;
}
noscript p{
	width:800px;
	font-size:20px;
	padding-top:20px;
	margin:0 auto;
	color:#4D4D4D;
}
.small{
	font-size:10px;
	letter-spacing:0;
}

/*----------------------------------------------------------------------*/
/* Sidebar
/*----------------------------------------------------------------------*/

#documenter_sidebar #documenter_logo{
	display:block;

	min-height:90px;
	background-position:center center;
	background-repeat:no-repeat;
}

#documenter_sidebar ul {
	font-size: 15px;
	font-weight: 700;
	min-height: 150px;
	height: 75%;
	overflow: auto;
}

#documenter_sidebar ul li{
	text-align: left;
	padding: 0;
}

#documenter_sidebar ul a {
	display: block;
	padding: 12px 15px 12px 0;
	text-align: left;
}

#documenter_sidebar ul a:hover,#documenter_sidebar ul a.current{
	-webkit-text-shadow: none;
	-moz-text-shadow: none;
	text-shadow: none;
	text-decoration: none;
}

#documenter_sidebar ul li ul{
	border-top:0;
	font-size:15px;
	min-height:10px;
	height:auto;
	overflow:auto;
	margin:0;
	display:none;
}
#documenter_sidebar ul li ul li a{
	display:block;
	padding:4px 15px 5px 0;
	text-align:right;
}

/*----------------------------------------------------------------------*/
/* Content
/*----------------------------------------------------------------------*/

#getting_started{
	position:relative;
	/*min-height:800px;*/
	padding-top: 110px !important;
}
#getting_started .header{
	padding: 15px 0;
	position: fixed;
	width: 100%;
	top: 0;
	left: 310px;
	background: #009DAE;
	color: #fff;
}
#getting_started .header h2{
	margin: 0;
	font-size: 25px;
}
#getting_started .header h2 i{
	padding: 0 20px;
	cursor: pointer;
}
#getting_started li{
	list-style:none !important;
	margin-left:0 !important;
}
#getting_started p{
	width:auto;
}
#documenter_content section{
	padding-top:70px;
}
#documenter_content h1{
	font-size:30px;
	font-weight:700;
	font-family: 'Rubik', sans-serif;
	color: #000;

}
#documenter_content h2{
	font-size:20px;
	margin-bottom:18px;
	font-weight:100;
}
#documenter_content h3{
	font-size:26px;
	margin:18px 0 0;
	font-weight:100;
	color: #009DAE;
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
}

#documenter_content h4{
	color: #132238;
	font-size: 1.25rem;
	font-weight: 600;
	padding: 0;
	clear: both;
	line-height: 1.2em;
	margin-top: 2em;
}
#documenter_content h5{
	font-size:16px;
	margin:18px 0;
	font-weight:100;
}
#documenter_content h5 strong{
	font-size: 16px;
}
#documenter_content h6{
	font-size:14px;
	margin:18px 0;
	font-weight:100;
}
#documenter_content p{
	margin:10px 0;
}
#documenter_content ol li{
	list-style:decimal;
	margin-left:36px;
}

#documenter_content ul li{
	list-style:square;
	margin-left:36px; padding-bottom:10px;
}

#documenter_content dl dt{
	padding-top:12px;
	font-weight:700;
	font-size:14px;
}

#documenter_content dl dd{
	padding-top:3px;
	margin-left:18px;
}

#documenter_content table{
	border-collapse:collapse;
}

#documenter_content table th{
	font-weight:700;
}

#documenter_content table th, #documenter_content table td{
	padding:3px;
	text-align:left;
}

#documenter_content code {
	font-family: 'Rubik', sans-serif;
	font-size:14px;
	color:#004dc7;
	text-transform: lowercase;
}

#documenter_content .code-bg {
	background-color: #2b2b2b;
	padding: 15px;
}

#documenter_content .code-bg code {
	color: #b9b9b9;
}

.bg-color {
	border: 1px solid #3A437B;
	padding: 10px;
}

#documenter_content .warning{
	padding:10px 10px 10px 30px;
	border:1px solid #D5D458;
	background-color:#F0FEB1;
	background-image:url(img/warning.png);
	background-repeat:no-repeat;
	background-position: 8px 11px;
}

#documenter_content .info{
	padding:10px 10px 10px 30px;
	border:1px solid #6AB3FF;
	background-color:#A3D0FF;
	background-image:url(img/info.png);
	background-repeat:no-repeat;
	background-position: 8px 11px;
}

#documenter_content div.alert {
	padding: 8px 35px 8px 14px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#documenter_content div.alert-success,#documenter_content  div.alert-success div.alert-heading {
	color: #468847;
}

#documenter_content div.alert-danger,#documenter_content  div.alert-error {
	background-color: #f2dede;
	border-color: #eed3d7;
}

#documenter_content div.alert-danger,
#documenter_content div.alert-error,
#documenter_content div.alert-danger div.alert-heading,
#documenter_content div.alert-error div.alert-heading {
	color: #b94a48;
}

#documenter_content div.alert-info {
	background-color: #d9edf7;
	border-color: #bce8f1;
}
#documenter_content div.alert-info,#documenter_content  div.alert-info div.alert-heading {
	color: #3a87ad;
}

#documenter_content div.alert-block {
	padding-top: 14px;
	padding-bottom: 14px;
}

#documenter_content div.alert-block > p,#documenter_content  div.alert-block > ul {
	margin-bottom: 0;
}

#documenter_content div.alert-block p + p {
	margin-top: 5px;
}


/*----------------------------------------------------------------------*/
/* Print Styles
/*----------------------------------------------------------------------*/

@media print {
	* { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
		-ms-filter: none !important; } /* Black prints Shopcart: sanbeiji.com/archives/953 */
	a, a:visited { color: #444 !important; text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
	tr, img { page-break-inside: avoid; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3{ page-break-after: avoid; }
	hr { border-top:1px solid #000 !important;border-bottom:0 !important; }

	#documenter_sidebar{
		-moz-box-shadow:none;
		-webkit-box-shadow:none;
		box-shadow:none;
		position:absolute;
		left:10px;
		top:0;
		width:100%;
		margin-top:500px;
	}
	#documenter_sidebar ul:before { content: "Table of Contents"; }

	#documenter_sidebar ul{
		border:0 !important;
	}
	#documenter_sidebar ul li{
		border:0 !important;
		text-align:left;
	}
	#documenter_sidebar ul li a{
		border:0 !important;
		text-align:left;
		padding:4px;
	}
	#documenter_sidebar ul li a:hover{
		border:0 !important;
	}
	#documenter_sidebar #documenter_logo{
		display:none;
	}
	#documenter_sidebar #documenter_copyright{
		display:none;
	}
	#documenter_content{
		left:10px;
	}
	#getting_started{
		margin-bottom:300px;
	}
	#documenter_content .warning{
		background-image:url(img/warning.png) !important;
		background-repeat:no-repeat !important;
		background-position: 8px 11px !important;
	}
	#documenter_content .info{
		background-image:url(img/info.png) !important;
		background-repeat:no-repeat !important;
		background-position: 8px 11px !important;
	}
}
.custom-link-color a
{
	color: #ffffff;
	background-color: #3A437B;
	padding: 3px;
	text-decoration: none;
}

.collapse-block-title {
	text-align: left;
	padding: 10px 40px;
	cursor: pointer;
}
.collection-collapse-block .collection-collapse-block-content{
	display: none;
}
.collection-collapse-block-content a{
	padding-left: 60px;

}
.collection-collapse-block.open .collection-collapse-block-content{
	display: block;
}

.shopcart-video
{
	text-align: center;
	padding: 30px 0px;
}
.footer{
	text-align: center;
	padding-bottom: 17px;
}
.menu{
	padding: 10px 40px 10px 61px!important;
}
h3.collapse-block-title:hover{
	color: #3A437B;
	border-top: none;
}

::-moz-selection {
	background: #DBE6EC;
	color: #111111;
}

::selection {
	background: #DBE6EC;
	color: #111111;
}
.fa{
	padding-left: 4px;
}


.btn-primary {
	background-image: -moz-linear-gradient(top, #81A8B8, #42565E);
	background-image: -ms-linear-gradient(top, #81A8B8, #42565E);
	background-image: -webkit-gradient(linear, 0 0, 0 #81A8B8, from(#C2CBCE), to(#42565E));
	background-image: -webkit-linear-gradient(top, #81A8B8, #42565E);
	background-image: -o-linear-gradient(top, #81A8B8, #42565E);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#81A8B8', endColorstr='#42565E', GradientType=0);
	border-color: #42565E #42565E #bfbfbf;
	color: #FFFFFF;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary[disabled] {
	border-color: #81A8B8 #81A8B8 #bfbfbf;
	background-color: #42565E;
}

#documenter_sidebar,
#documenter_sidebar ul a {
	background: #00171A;
	color: #fff;
}

#documenter_sidebar ul li a {
	padding: 10px 40px;
}

#documenter_sidebar ul a:hover {
	color: #009DAE;
	border-top: none;
}

#documenter_sidebar ul a.current {
	color:#009DAE;
	border-top: none;
}

#thankyou {
	min-height: 50vh;
}





